django
django-environ # https://github.com/joke2k/django-environ
gunicorn # https://github.com/benoitc/gunicorn
fastai
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl
numpy
django --upgrade
django-environ --upgrade # https://github.com/joke2k/django-environ
gunicorn  --upgrade # https://github.com/benoitc/gunicorn
fastai --upgrade
numpy --upgrade
